@charset "utf-8";
@import "compass/reset";
//html5boilerplate
@import "h5bp";
@include h5bp-display;
@include h5bp-chromeframe;
@include h5bp-media;
@include h5bp-base;
@include h5bp-typography;
@include h5bp-figures;
@include h5bp-forms;
@include h5bp-embeds;
@include h5bp-tables;
@include h5bp-helpers;
//COMPASS
@import "compass";
@import "compass/layout/sticky-footer";
//SPRITING
//@import "/*.png";
*,*:before,*:after,input[type=search]{@include box-sizing(border-box);}//border-box-sizing for all elems
/*PT SANS*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic);
/*PT SERIF*/
@import url(http://fonts.googleapis.com/css?family=PT+Serif&subset=latin,cyrillic);

/*===============================================================
 VARIABLES
===============================================================*/
$baseWidth                : 1000px;
$footerHeight             : 40px;
// Assign colours to variable roles
$baseFontColor                      : #333;
$servColor                          : #666;
$attentionColor                     : #cc0000;
$bodyColor                          : #dfdfdf;
//links colors
$linkColor                          : $attentionColor;
$hoverLinkColor                     : $attentionColor;
$activeLinkColor                    : $attentionColor;
$visitedLinkColor                   : $attentionColor;
$focusedLinkColor                   : $attentionColor;
//fonts
$baseFamily                         : "PT Sans", sans-serif;
$titleFamily                        : "PT Serif", serif;
//misc
$baseFontSize                       : 14px;
$baseLineHeight                     : 1.4;
$paragraphSpace                     : 15px;
$inputHeight                        : 40px;
//default vars
$lmc-1                              : $linkColor !default;
$lmc-2                              : $hoverLinkColor !default;
$decorationType                     : dotted !default;
$text-weight                        : normal !default;
/*===============================================================
 HELPER CLASSES
===============================================================*/
//Line helpers
.hLine{&>*{@include inline-block;}}
.hLine-top{
  @extend .hLine;
  &>*{vertical-align: top;}
}
.jLine{
  text-align: justify;
  line-height: 0;
  font-size: 1px;
  text-justify: newspaper;
  zoom:1;
  text-align-last: justify;
  &:after{
    content: "";
    display: inline-block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 100%;
  }
  >*{
    text-align: left;
    @include inline-block;
    line-height: $baseLineHeight;
    font-size: $baseFontSize;
  }
}
.jLine-top{
  @extend .jLine;
  &>*{vertical-align: top;}
}
.fLine{
  .flexbox &{@include display-box;}
  .no-flexbox &{@extend .hLine;}
}
.fLine-full{
  .flexbox &{
    @include display-box;
    @include box-pack(justify);
    &>*{@include box-flex(1);}
  }
  .no-flexbox &{@extend .jLine;}
}
//State
.is-hidden {
  display: none;
}
.is-shown, .is-block {
  display: block;
}
.is-uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.is-lowercase {
  text-transform: lowercase;
}
//Misc
.pageWidth{
  width:$baseWidth;
  min-width: $baseWidth;
  margin-left:auto;
  margin-right: auto;
  //$baseMinWidth: 980px;
  //$baseMaxWidth: 1280px;
}
.pseudo-block{
  content: '';
  display: block;
  position: absolute;
}
.pseudo-inline{
  content: '';
  @include inline-block;
}
.input-reset{
  background-color: transparent;
  border: none;
  &:hover,&:focus{outline: none;}
}
.text-hide {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}
:root .gradient {filter: none \0/IE9; }//hack for ie9 - need for gradient backgrounds
.ie9-gradient-support{$experimental-support-for-svg: true; @extend .gradient;}
.dl-inline{
  @include pie-clearfix;
  &>dt{float: left; margin-right: 5px;}
}
/*===============================================================
 MIXINS
===============================================================*/
//RESPONSIVE
@mixin respond-to($media) {
  @if $media == ie10{
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {@content;}
  }
  @if $media == iphone{
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {@content;}
  }
  @else if $media == ipad{
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {@content;}
  }
}
//RETINA
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
  /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}
//Link Mixin Colors
@mixin singleLink($lmc-1){@include link-colors($lmc-1,$lmc-1,$lmc-1,$lmc-1,$lmc-1);}
@mixin simpleLink($lmc-1, $lmc-2){@include link-colors($lmc-1,$lmc-2,$lmc-1, $lmc-1, $lmc-2);}
@mixin singleLink-custom($lmc-1, $decorationType){
  @include singleLink($lmc-1);
  text-decoration: none;
  border-bottom: 1px $decorationType $lmc-1;
}
@mixin simpleLink-custom($lmc-1,$lmc-2,$decorationType){
  @include simpleLink($lmc-1,$lmc-2);
  text-decoration: none;
  border-bottom: 1px $decorationType $lmc-1;
  &:hover,&:focus{border-bottom-color: $lmc-2;}
}
//other mixins
@mixin columnize($count){
  .csscolumns &{@include column-count(#{$count});}
}
@mixin text($text-size, $text-color, $text-weight: $text-weight){
  font-size: $text-size;
  color: $text-color;
  font-weight: $text-weight;
}
//img containers
@mixin img-container-horisontal($width){
  width:$width;
  &>img{width:$width; height: auto;}
}
@mixin img-container-vertical($width){
  height:$width;
  &>img{height:$width; width: auto;}
}
/*===============================================================
 SETTING UP FORMS
===============================================================*/
button{
  border:none;
  background-color: transparent;
}
label, select {
  display: block;
}
input[type="search"] {
  //-webkit-box-sizing: content-box;
  //-moz-box-sizing: content-box;
  -webkit-appearance: textfield;
  //box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {
  font:italic $baseFontSize $titleFamily;
  @include border-radius(2px);
  @include single-transition($duration:.4s);
  padding: 0 5px;
  height: 32px;
  background-color: #fff;
  border:1px solid #999;
  &:focus{border-color: $baseFontColor;}
}
textarea{
  font:italic 16px $titleFamily;
  height: auto;
  padding: 5px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
select,
input[type="file"] {
  *margin-top: 4px; 				/* In IE7, the height of the select element cannot be changed by height, only font-size */
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
::-webkit-input-placeholder { /* WebKit browsers */
  color:    $baseFontColor;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    $baseFontColor;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    $baseFontColor;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    $baseFontColor;
}
/*===============================================================
CUSTOM TYPOGRAPHY
===============================================================*/
html, button, input, select, textarea {
  font-family: $baseFamily;
  color:$baseFontColor;
}
html{
  height: 100%;
}
h1,h2,h3,h4,h5,h6,p,ul,ol{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
em{font-style: italic;}
a{
  @include link-colors($linkColor, $hoverLinkColor, $activeLinkColor, $visitedLinkColor, $focusedLinkColor);
  @include single-transition($duration:.5s);
  &:active,&:hover,&:focus {outline: none;}
}
dt{font-weight: bold;}
@include sticky-footer($footerHeight, ".b-stickyFooter_helper-1", ".b-stickyFooter_helper-2", ".b-footer");
.b-typography{
  p{margin-bottom: $paragraphSpace;}
  ul{
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAGCAYAAADkOT91AAAAS0lEQVQYV2O4n5joCcTPoNiT4bav7zMg/g/FzxiuGho+v2Zo+B+EgewXDAsEBBLPiYi8Oisi8gLEZmBiZlYAYhUoVgQJcIEYUAkuADYaIknuxH4mAAAAAElFTkSuQmCC);
    margin-bottom:$paragraphSpace;
    padding-left: 15px;
  }
  ol{
    margin-bottom:$paragraphSpace;
    list-style-type: decimal;
    padding-left: 20px;
  }
  h1 {font-size: 2.2em;}
  h2 {font-size: 1.7em;}
  h3 {font-size: 1em; font-weight: bold;}
  h4 {font-size: 0.9em;}
  h5 {font-size: 0.8em;}
  h6 {font-size: 0.7em;}
}
/*===============================================================
DEVELOPER STYLES RUN BELOW THIS POINT
===============================================================*/
/*OBJECTS-------------------------------*/
.obj-button{
  font: bold 13px $titleFamily;
  text-transform: uppercase;
  padding: 3px 10px;
  border: 1px solid #999;
  @include border-radius(2px);
  @include background-clip(padding-box);
  background-color: #ededed;
  @include background-image(linear-gradient(top, #feffff 0%, rgba(255,255,255,0) 100%));
  @extend .ie9-gradient-support;
}
.obj-pattern_page{
  background-image: inline-image('pattern-page.png');
}
.obj-section_header{
  position: relative;
  padding: 10px 30px;
  @extend .jLine;
  &:before{
    @extend .pseudo-block;
    height: 1px;
    background-color: #999;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    top:50%;
  }
}
.obj-section_header__title{
  font:30px $titleFamily;
}
.obj-section_header__viewAll{
  font: $baseFontSize $titleFamily;
  @include singleLink($baseFontColor);
  &:after{
    @extend .pseudo-inline;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAANCAYAAABlyXS1AAAAFklEQVQoU2NIS0v7z4APDG0Fg1MCCAALYxx+QumHMQAAAABJRU5ErkJggg==');
    width: 7px;
    height: 13px;
    margin-left: 3px;
  }
}
.obj-image_wrap{
  border:1px solid $baseFontColor;
  box-shadow: 0 2px 0 rgba(0,0,0,.25);
  img{width: 100%; height: 100%;}
}
.obj-event__monthDay{
  font: bold 20px/1 $titleFamily;
  text-transform: uppercase;
  color: $baseFontColor;
}
.obj-event__weekDay{
  font:20px/1 $titleFamily;
  text-transform: uppercase;
  color: $servColor;
  &.holiday {color: #ff3300;}
}

.m-template__paddings{padding: 0 30px;}
/* HEADER -------------------------------*/
.b-header{
  position: relative;
  padding: 0 35px 5px;
  @extend .obj-pattern_page;
  @extend .jLine;
  &>*{vertical-align: bottom;}
}
.b-logo{
  text-decoration:none;
  .name{@extend .text-hide; position:absolute;}
}
.b-slogan{
  font: 17px $titleFamily;
  color: $servColor;
  padding-bottom: 10px;
}
.b-slogan__attention{
  display: block;
  color: $baseFontColor;
  font-size: 28px;
}
.b-phone{
  font: 18px $titleFamily;
  padding-bottom: 5px;
}
.b-phone__attention{
  display: block;
  font-weight: bold;
  font-size: 35px;
}
.b-header__right{
  text-align: right;
  width: 280px;
}
.b-social{
  @extend .hLine;
  color: $servColor;
  @extend .hLine;
  .b-header &{margin-bottom: 20px;}
  .b-footer &{margin-right: 35px;}
}
.b-social__unit{
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
@for $i from 1 through 4{
  .b-social__unit-#{$i}{
    @extend .b-social__unit;
    background-image: inline-image('social-#{$i}.png');
  }
}

.b-address{
  margin-bottom: 10px;
  @extend .dl-inline;
  dt{font-weight: bold;}
}

.b-mainNav{
  background: image_url('bg-mainNav.png') no-repeat;
  width: 1093px;
  height: 79px;
  position: relative;
  padding-left: 70px;
  margin-left:-47px;
  margin-bottom: -25px;
  &>ul{@extend .hLine;}
}
.b-mainNav__link{
  display: block;
  font:16px $titleFamily;
  padding: 16px 22px;
  @include singleLink(#fff);
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
//  divider
  &:before{
    @extend .pseudo-block;
    width: 0;
    height: 21px;
    border-left: 1px solid rgb(255,113,133);
    border-right:1px solid rgb(37, 0, 0);
    border-left-color:     rgba(255,113,133,.44);
    border-right-color:    rgba(37, 0, 0, .44);
    left: 0;
    top:50%;
    margin-top: -10px;
  }
  li:first-child &:before{display: none;}
  &:hover,&:focus,&.active{
    @include singleLink(#e0c39d);
    font-family: "PT Serif", serif;
    @include text-shadow(0 3px 2px rgba(2,3,3,.5));
  }
  &.active{font-weight: bold;}
}
.b-mainNav__link--virtualTour{
  display: block;
  position: relative;
  top:1px;
  @include singleLink($baseFontColor);
  font:bold 18px "PT Serif", serif;
  @include text-shadow(0 1px 0 rgba(255,255,255,.31));
  padding: 14px 25px;
  text-transform: uppercase;
  text-decoration: none;
}

/* FOOTER -------------------------------*/
.b-footer{
  position: relative;
  @extend .pageWidth;
  @extend .jLine;
  background-color: #fff;
  padding-top: 10px;
}
.b-copy{
  color: #656565;
  font: 13px $titleFamily;
  margin-left: 10px;
}

/* CONTENT -------------------------------*/
body {
  height: 100%;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  background-image: inline-image("pattern-body.jpg");
}
.b-page{
  @extend .pageWidth;
  background-image: inline-image('pattern-noize.jpg');
}
.b-main{
  position: relative;
  z-index: 1;
}

.b-crumbs{
  position: relative;
  z-index: 2;
  @extend .hLine;
  padding: 0 30px 2px;
  border-bottom: 1px solid #fff;
  box-shadow: inset 0 -1px 2px rgba(0,0,0,.2);
}
.b-crumbs__unit{
  position: relative;
  font-size: 11px;
/* corner after unit */
  &:after{
    @extend  .pseudo-inline;
    width: 6px;
    height: 11px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAALCAYAAABcUvyWAAAARElEQVQoz2O47ev7nwEXuOXhgVvyprMzbskb1ta4Ja8ZG+OWvKqtjSl5WUkJU/CilBSm4AUhIUzBc1xcmIJnWVmxugIAgTwXsrLilPsAAAAASUVORK5CYII=);
    margin-left: 4px;
    margin-top: -2px;
  }
  &:last-child{
    @include  singleLink($baseFontColor);
    text-decoration: none;
    &:after{display: none;}
  }

}

.b-pagination{
  padding: 15px 150px;
  position: relative;
  @extend  .obj-pattern_page;
  font: 16px $titleFamily;
  text-align: center;
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.2);
}
.b-pagination__prev{
  position: absolute;
  display: inline-block;
  left: 30px;
  top: 50%;
  margin-top: -10px;
  padding-left: 25px;
  background: inline-image('pagination-prev.png') 0 50% no-repeat;
  height: 21px;
}
.b-pagination__next{
  position: absolute;
  display: inline-block;
  right: 30px;
  top: 50%;
  margin-top: -10px;
  padding-right: 25px;
  background: inline-image('pagination-next.png') 100% 50% no-repeat;
  height: 21px;
}
.b-pagination__list{
  display: inline-block;
  @extend  .hLine;
  .active{
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    @include  singleLink($baseFontColor);
  }
  li{margin: 0 5px;}
}

.b-template{}
.b-template__title{
  font:30px $titleFamily;
  padding: 15px 30px 20px;
}
.b-template__goBackLink{
  background: inline-image('pagination-prev.png') 0 50% no-repeat;
  padding-left: 25px;
  font: 16px/21px $titleFamily;
}

/*INDEX page-----------------------*/
.b-promo{

}
.b-promo__image{
  background: inline-image('promo-image-shadow.png') 0 100% no-repeat;
  img{
    @include box-shadow(0 3px 3px rgba(2,3,3,.14));
  }
}
.b-promo__places{
  margin: 15px auto;
}
.b-promo__places__unit{
  width: 310px;
  @include inline-block;
  margin: 0 4px;
}
.b-promo__places__unit__photo{
  margin-bottom: -5px;
  border:1px solid $baseFontColor;
  width: 310px;
  height: 200px;
}
.b-promo__places__unit__title{
  padding: 0 20px;
  background: inline-image('promo-place-titleBg.jpg');
  height: 41px;
  font: bold 20px/40px $titleFamily;
  a{
    text-decoration: none;
    @include singleLink($baseFontColor);
  }
}
.b-promo__places__unit__about{
  background: inline-image('promo-place-footerBg.jpg');
  font-size: 13px;
  color: #999;
  padding: 8px 20px;
}

.b-events--index{
  background-color: #fff;
  @include box-shadow(0 -2px 3px rgba(2,3,3,.25));
}
.b-events--index__header{
  @extend .obj-section_header;
  &:before{
    width: 480px;
    right: 165px;
  }
}
.b-events--index__title{
  @extend .obj-section_header__title;
}
.b-events--index__viewAll{
  @extend .obj-section_header__viewAll;
}
.b-events--index__carousel{
  position: relative;
  //bg for images
  &:before{
    @extend .pseudo-block;
    width: 100%;
    height: 200px;
    background-image: inline-image('pattern-noize.jpg');
    top:0;
    left:0;
  }
}
.b-events--index__unit{
  width: 310px;
  @include inline-block;
  margin: 0 4px;
}
.b-events--index__unit__photo{
  border:1px solid $baseFontColor;
  width: 310px;
  height: 200px;
  margin-bottom: 5px;
}
.b-events--index__unit__time{
  @include inline-block;
  vertical-align: top;
  margin-top: -3px;
  @extend .obj-button;
}
.b-events--index__unit__name{
  font: bold $baseFontSize $titleFamily;
  text-transform: uppercase;
  @include inline-block;
}

.b-deals_menu_Wrap{
  @extend .jLine;
  padding: 20px 0 40px;
  background-color: #fff;
}

.b-deals{
  width: 620px;
}
.b-deals__header{
  @extend .b-events--index__header;
  &:before{
    width: 45px;
    right: 160px;
  }
}
.b-deals__title{
  @extend .obj-section_header__title;
}
.b-deals__viewAll{
  @extend .obj-section_header__viewAll;
}
.b-deals__main{
  padding-left: 30px;
}
.b-deals__unit{
  margin-bottom: 25px;
  @extend .jLine-top;
  color: $servColor;
  &>*{font-size: 13px;}
}
.b-deals__unit__photo{
  position: relative;
  width: 140px;
  height: 90px;
  border:1px solid $baseFontColor;
  &:before{
    @extend .pseudo-block;
    width: 70px;
    height: 77px;
    background-image: inline-image('deals-photo-caption.png');
    top:-6px;
    left:-2px;
  }
  img{
    width: 100%;
    height: 100%;
  }
}
.b-deals__unit__main{
  width: 432px;
  width: -webkit-calc(100% - 160px);
  width: -moz-calc(100% - 160px);
  width: calc(100% - 160px);
}
.b-deals__unit__time{
  @extend .obj-button;
  position: relative;
  top:4px;
  color: $baseFontColor;
}
.b-deals__unit__name{
  font: 16px $titleFamily;
  margin: 10px 0 5px;
}

.b-menu{
  position: relative;
  top:25px;
  width: 336px;
  background: inline-image('menu-bg-main.png') repeat-y;
  padding: 0 77px 0 12px;
/* top part */
  &:before{
    @extend .pseudo-block;
    width: 100%;
    height: 83px;
    background-image: inline-image('menu-bg-top.png');
    bottom: 100%;
    left: 0;
  }
/* bottom part */
  &:after{
    @extend .pseudo-block;
    width: 100%;
    height: 42px;
    background-image: inline-image('menu-bg-bottom.png');
    top: 100%;
    left: 0;
  }
}
.b-menu__title{
  font:18px $titleFamily;
  color: #503213;
  text-transform: uppercase;
  text-align: center;
  margin: -5px 0 15px;
  &:before,&:after{
    @extend .pseudo-inline;
    width: 28px;
    height: 13px;
    margin: 0 5px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAANCAYAAAC6hw6qAAABaklEQVQ4y7XUzUoCURQH8HmEeQShF2gRrVoMCG3auAhcRTciIjdaKz9ALlRjQjkQSTOCmpmDSXj7wCippoIIV/MIPsI8wuk/oGQyDmZ54MeFufee/2K4R5J8qvMqBNjAIQQBaZp1W9PKQEMsUKYSaOppBWgEAfKfAuoGl4FdGlwDa2ClEWyYLLRZVhk4QF74VpDiq/N0GF8mQ90k8zSF7xl3z4bfhbbqGgPyo6XClGBzP2R2lsjMJ9z98thhz9eGDA6QH3G2R5nooid9l1H76mS80I+HKgMa9t4q0d25ajf0hFU5ijhYCSvl02FPpeyGe8fCXf+n03mpc6AB1mMjF/I6WzxYUyAGAmhY7ThKn+0LBz008A7uPJkxoB4+7q8o7q/IwEAA9TULcRro1wULNBBulvR2oweAwJ70OeW2gwHQoAtUya5Tr2efgO9hcV9Vues/hkUyPCODko0sKKKQnB15UBjJ6c7JXn0BUiGkI9X0BiYAAAAASUVORK5CIIA=);
  }
  &:after{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAANCAYAAAC6hw6qAAABWklEQVQ4y73Sv0rDUBQG8DxCHiHgC3QQJ4eC4OKSQegkjaAIOhgVtFVbr6Ct0GoWKw3aRinGin/SChUHNSo4ZPIR+gh5hON3Q6slJlJr9cCPC+ec5CPkCsIvy3myJJCBwRvYwl/UzakWBRvIx+p7mFlMa0Ah5L4FnetMBBsoBJ8xflZ1ZoAKYs+B10bGAgpjHqyRnpmhfGKcEvEhWp8a5n0X1B+HNaqaBhTELCQpuzhGSWUQQZ9yy3LnXvehDzVdBQpi5OcoOz8a6PJow78vfRv0elcRwQLye2mU6WR3lgrpWJsLdos3uzpMeefZ/hLVypv8meCvdB6rEjBwgYJc6CtWaWdShWjQO3gf+A61HeemmeDcmzJYwMCGJlAIPlfqpVTXN6+0PaEAtTCv+VwvSmCAC+TTBI3v9Hq79xZGbCCIfBneVjIRiLb0HNJZq7EBBQzhv6q8Ff/4Be+QTqMwv7MhXgAAAABJRU5ErkJggg==);
  }
}
.b-menu__main{}
.b-menu__unit{
  display: block;
  text-align: center;
  font:16px $titleFamily;
  text-decoration: none;
  padding: 4px 0 17px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMEAAAAJCAYAAACL+UhFAAAA8UlEQVRYw+1YUQ7CIAxtWeIxvIBn0eBJmRovtzieP5AQ7cpwHzOhL2leef0glL0MIDL8Bbz3L+uCoWcDzABu1glDrwaIAO7Wif3A3vsTETkhhkrewjVta72Ftdyt0B0RsaJpzOM4HgoDIITwYOZLGk9EhBRxBZchaTnmFbqUt3BN21pvYS3/Wj8DOJabJGwyK5vfOl7Ssj5U6m7j/LV1saKXdalX9MEsBDHzNf8BQghPZj5nUwAIORUiplrJpSlQMVBcqGv5L2PNkEgfnlaPG+evrQuCbtjpDmBHIEO/r0BmAEPPBpjsFcjQNYozv+GP8Aa6zO7QjKJn3gAAAABJRU5ErkJggg==) 50% 100% no-repeat;
  @include  simpleLink($attentionColor, $baseFontColor);
  &.active{@include  singleLink($baseFontColor);}
}

.b-photo_video_feedback_Wrap{
  padding: 20px 15px 20px 30px;
  @extend .obj-pattern_page;
  @extend .jLine-top;
  box-shadow: inset 0 0 10px rgba(0,0,0,.5);
  position: relative;
  //shadow on top
  &:before{
    width: 100%;
    height: 30px;
    top:0;
    left:0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA+gAAAAHCAYAAACbWWcuAAAClElEQVR42u2cS07DQBBEPay5A3sOwIb7XwgQEgvSYMmRoiDPVFW3TTD1pCixPW6PP4nmddtp0zQ9f7/a9yumn7TB9PW8BsRAYisx1X6Mll0uj0kjgGXRmZdtc/7cW4a2Qdr1ptH9qTw2bKzRflZu83o7QWwfPR5K/9jr1xhjjDkiFWPbRox1G/jemzeansQ2k9CnXozRNiv7VhEXjcXGrzjnyrFB/Akd9/XGkoh/MO4Rgz6FMC5G+s+MsVlHm7lbPr+0FUHPinkr+JFDL5TLnWsX74h4sPIRwLpBxg3y4lVFbCSfFRKPCDr7Jd1LvNW+sOcmQBEO4QfRGGOMMcdODiDj7ipRU8S/J7OqoGck9C8JeiZxkk2gNMK92k7X/5rTMXLMuNLIkRgXKRH0ecZpo5OgVN8yYly5Drs+M28kbdnqriLpTLU7I+nKhR5gf9iEB3q8LcnGGGOM+a+JASRZgEqiKp/ZNtfLmQSFmnhgEh6ZJAaTpEHOzdq5jiJBV2K1xLUcK9OsyzIFNraYehb017mTT0tnP0WBrRDjjKxvES/TTu0PWvkeSb2SDUKEX60ms8mGSHwpLMvGGGOMMcdIDPREkXmcAJHTbGU7kxBA2rEyryYtMjJcJdU9ua5MEOyxD0wC4Czob/MGH5eZp42FOSu9qrAp21FvjVfbMtVvpkKMVonZKr2F2RhjjDHGHDkZoNxuj8g8IvkVSQUmedCLsdUxP1KsiuTB3fL+Pgd5WIKdCkW7suq9ZUJgD0Gv+KME5nYJVpIt0MYYY4wxxmwrfej/blU+Q648AtCK9/sWYu0RPxvvXEH/mAPdi6IWYpsojM+0j2SM2LHPlmZjjDHGGGNMVTJAuU3+N/p+S7Fiw2TBWszPLx76qcnhXswaAAAAAElFTkSuQmCC);
  }
}

.b-photo--index{
  width: 305px;
}
.b-photo--index__header{
  @extend .obj-section_header;
  padding: 10px 0 20px;
  margin-right: 4px;
  &:before{
    width: 60px;
    right: 60px;
  }
}
.b-photo--index__title{@extend .obj-section_header__title}
.b-photo--index__viewAll{@extend .obj-section_header__viewAll}
.b-photo--index__main{
  @extend .hLine-top;
}
.b-photo--index__unit{
  display: block;
  width: 95px;
  height: 95px;
  margin: 0 6px 6px 0;
  &:nth-child(3n){margin-right: 0;}
  &:hover,&:focus{outline: 4px solid $attentionColor;}
  .ie87 &{
    margin: 0 4px 4px;
    &:hover,&:focus{outline-width: 4px;}
  }
  img{
    width: 100%;
    height: 100%;
  }
}

.b-video--index{width: 300px;}
.b-video--index__header{
  @extend .obj-section_header;
  padding: 10px 0 20px;
  &:before{
    width: 145px;
    right: 60px;
  }
}
.b-video--index__title{@extend .obj-section_header__title}
.b-video--index__viewAll{@extend .obj-section_header__viewAll}
.b-video--index__main{}
.b-video--index__unit{}

.b-feedback--index{width: 315px;}
.b-feedback--index__header{
  @extend .obj-section_header;
  padding: 10px 0 20px;
  &:before{
    width: 55px;
    right: 60px;
  }
}
.b-feedback--index__title{@extend .obj-section_header__title}
.b-feedback--index__viewAll{@extend .obj-section_header__viewAll}
.b-feedback--index__main{}
.b-feedback--index__unit{
  position: relative;
  background-color: #fff;
  border:1px solid #999;
  @include border-radius(3px);
  padding: 10px;
  font-family: $titleFamily;
  margin-right: 16px;
  margin-bottom: 20px;
/* corner */
  &:before{
    @extend .pseudo-block;
    width: 16px;
    height: 23px;
    background-image: inline-image('feedback-corner-1.png');
    left: 100%;
    top:50%;
    margin-top: -11px;
  }
  &:nth-child(even){
    margin-right: 0;
    margin-left: 16px;
    &:before{
      background-image: inline-image('feedback-corner-2.png');
      left: auto;
      right: 100%;
    }
  }
}
.b-feedback--index__unit__header{
  margin-bottom: 5px;
  @extend .hLine;
}
.b-feedback--index__unit__time{
  color: $servColor;
  margin-right: 3px;
}
.b-feedback--index__unit__title{
  font-weight: bold;
}
.b-feedback--index__unit__main{
  font-style: italic;
  font-size: 12px;
}

/*POSTERS page------------------------*/
.b-template--eventsList{
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.2);
}
.b-template--eventsList__unit{
  padding: 22px 30px;
  @extend  .jLine-top;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #a6a6a6;
  &:first-child{border-top: none; padding-top: 0;}
  &:last-child{border-bottom: none; padding-bottom: 30px;}
}
.b-template--eventsList__unit__photo{
  width: 300px;
  height: 200px;
  @extend  .obj-image_wrap;
}
.b-template--eventsList__unit__main{
  width: 620px;
}
.b-template--eventsList__unit__header{
  margin: -2px 0 17px;
}
.b-template--eventsList__unit__time{
  @extend  .obj-event__monthDay;
}
.b-template--eventsList__unit__weekday{
  @extend  .obj-event__weekDay;
}
.b-template--eventsList__unit__name{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.b-template--eventsList__unit__textContent{
  color: $servColor;
}

/*ONE POSTER page------------------------*/
.b-template--event{
  padding: 0 30px 10px;
  @extend  .jLine-top;
}
.b-template--event__aside{
  width: 300px;
}
.b-template--event__photoReport{
  margin: 25px 0;
  border-top: 1px solid #999;
  box-shadow: inset 0 1px 0 #fff;
}
.b-template--event__photoReport__header{
  @extend .obj-section_header;
  padding-left: 0;
  padding-right: 0;
  &:before{display: none;}
}
.b-template--event__photoReport__title{
  @extend  .obj-section_header__title;
}
.b-template--event__photoReport__viewAll{
  @extend  .obj-section_header__viewAll;
}
.b-template--event__photoReport__main{
  @extend  .jLine;
}
.b-template--event__photoReport__unit{
  width: 95px;
  height: 95px;
  img{width: 100%; height: 100%;}
}
.b-template--event__mainPhoto{
  @extend  .obj-image_wrap;
  widows: 300px;
}
.b-template--event__main{
  @extend  .b-template--eventsList__unit__main;
}
.b-template--event__header{
  @extend .b-template--eventsList__unit__header;
}
.b-template--event__time{
  @extend  .b-template--eventsList__unit__time;
}
.b-template--event__weekday{
  @extend .b-template--eventsList__unit__weekday;
}
.b-template--event__name{
  @extend  .b-template--eventsList__unit__name;
}
.b-template--event__textContent{}
.b-template--event__footer{}

/*PHOTO REPORTS LIST page------------------------*/
.b-template--reportsList{
  @extend  .hLine;
  padding-left: 30px;
}
.b-template--reportsList__unit{
  width: 300px;
  margin-bottom: 25px;
  margin-right: 18px;
}
.b-template--reportsList__unit__photo{
  @extend  .obj-image_wrap;
  width: 300px;
  height: 200px;
  margin-bottom: 15px;
}
.b-template--reportsList__unit__time{
  @extend .b-events--index__unit__time;
}
.b-template--reportsList__unit__name{
  @extend  .b-events--index__unit__name;
}
.b-template--reportsList__unit__{}

/*PHOTO REPORT page------------------------*/
.b-template--report{
  border-top: 1px solid #999;
  box-shadow: 0 1px solid #fff;
  padding: 20px 0 10px 30px;
}
.b-template--report__header{
  margin-bottom: 15px;
  padding-right: 30px;
}
.b-template--report__title{
  font-weight: bold;
  margin-bottom: 20px;
  padding-right: 30px;
}
.b-template--report__unit{
  display: inline-block;
  margin-right: 17px;
  margin-bottom: 25px;
  width: 220px;
  height: 145px;
  @extend  .obj-image_wrap;
}

/*CONTACTS page------------------------*/
.b-template--contacts{}
.b-template--contacts__info{
  width: 370px;
}
.b-template--contacts__info__unit{
  margin-bottom: 25px;
}
.b-template--contacts__leaveFeedback{
  width: 520px;
}
.b-template--contacts__leaveFeedback__title{
  font: bold 18px $titleFamily;
  margin-bottom: 15px;
}
.b-template--contacts__leaveFeedback__input{
  width: 250px;
  margin-bottom: 10px;
}
.b-template--contacts__leaveFeedback__textarea{
  height: 116px;
  width: 250px;
}
.b-template--contacts__leaveFeedback__footer{
  text-align: right;
  margin: 5px 0;
}
.b-template--contacts__leaveFeedback__submit{
  display: inline-block;
  background-image: inline-image('button.png');
  width: 123px;
  height: 39px;
  padding-bottom: 7px;
  font: italic 16px $titleFamily;
  color: #fff;
  text-align: center;
}
.b-template--contacts__map{
  margin-top: 25px;
}
.b-template--contacts__map__title{
  font: bold 18px $titleFamily;
  padding: 0 30px;
  margin-bottom: 20px;
}
.b-template--contacts__map__main{
  height: 430px;
  border-top: 1px solid #fff;
}

/*MENU page------------------------*/
.b-template--menu{
}
.b-template--menu__title{
  @extend  .b-template__title;
  color: $servColor;
}
.b-template--menu__nav{}
.b-template--menu__main{
  margin-top: -15px;
  margin-left: 30px;
  width: 590px;
  padding-bottom: 15px;
  background: inline_image('menuList-btm.png') 0 100% no-repeat;
}
.b-template--menu__main__title{
  @extend  .b-template__title;
  padding: 0 0 40px;
  margin-bottom: 20px;
  background: inline_image('menuList-top.png') 0 100% no-repeat;
}
.b-template--menu__unit{
  margin-bottom: 30px;
}
.b-template--menu__unit__header{
  @extend  .jLine;
}
.b-template--menu__unit__name{
  font:bold 20px $titleFamily;
  max-width: 440px;
}
.b-template--menu__unit__price{
  font:italic 20px $titleFamily;
  color: $servColor;
}
.b-template--menu__unit__nameAndPriceDivider{
  height: 1px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAABCAYAAAASC7TOAAAAEklEQVQYV2OYOXNmKBD/x4I7AAYDEmYmC6YqAAAAAElFTkSuQmCC);
  position: relative;
  top:2px;
  .ie87 &{border-bottom: 1px dashed $servColor;}
}
.b-template--menu__footer{
  padding: 25px 30px;
}

/*PLUGINS styles -------------------*/
.js-carousel__wrap{
  position: relative;
  padding-left: 23px;
  padding-right: 18px;
  .js-carousel__prev{
    position: absolute;
    left: 3px;
    top:200px /2 - 35;
  }
  .js-carousel__next{
    left: auto;
    right: 3px;
  }
}
.js-carousel__prev{
  @include single-transition(none);
  display: block;
  width: 21px;
  height: 81px;
  background-image: inline-image('carousel-prev.png');
  &:hover,&:focus{
    background-image: inline-image('carousel-prev-active.png');
    height: 77px;
  }
}
.js-carousel__next{
  @extend .js-carousel__prev;
  background-image: inline-image('carousel-next.png');
  &:hover,&:focus{background-image: inline-image('carousel-next-active.png');}
}
//FF special
@-moz-document url-prefix() {}


//debug grid
//* { outline: 2px dotted red; }
//* * { outline: 2px dotted green; }
//* * * { outline: 2px dotted orange; }
//* * * * { outline: 2px dotted blue; }
//* * * * * { outline: 1px solid red; }
//* * * * * * { outline: 1px solid green; }
//* * * * * * * { outline: 1px solid orange; }
//* * * * * * * * { outline: 1px solid blue; }